html{
    box-sizing: border-box;
    font-family: "Radiance","Noto Sans",sans-serif;
}

body{
	width: 100%;
    margin: 0;
    background-color: black;
}

.MainBody{
	width: 100%;
    min-height: 928px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: repeat-y;
    background-color: #151618;
    background-position: center;
    clear: both;
}
.PatchNotesHeader{
    width: 100%;
    background-color: #000;
    margin-top: 140px;
    padding: 30px 0px;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.PatchNotesLabel{
	width: 900px;
	color: #ed3b1c;
	font-size: 32px;
	letter-spacing: 4px;
}
.PatchNotesNotes{
    width: 900px;
    color: #ed3b1c;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 8px;
}

.PatchNotesBody{
	width: 100%;
    max-width: 1248px;
    padding-top: 32px;
    min-height: 960px;
    display: flex;
    flex-direction: column;
}

.UpdatesSection {
	display: block;
}

.UpdatesHeader {
	background: linear-gradient(to right, #833312FF, #83331200);
    border-left: 2px solid #ff5005;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 30px #000;
    padding: 12px 20px;
}

.UpdatesList{
    width: 100%;
    border-left: 2px solid #ffffff10;
    margin-bottom: 30px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.38) 3.07%, rgba(6, 37, 65, 0.3) 88.06%);
    box-shadow: 0px 0px 50px #000;
    min-height: 0;
    display: flex;
    padding: 5px 60px 40px 0px;
    flex-direction: column;
}
.UpdatesList ul{
	width: 100%;
	min-height: 0;
	display: flex;
	flex-direction: column;
	padding: 0px 18px;
	margin-bottom: 60px;
	margin-left: 1rem;
}

.UpdatesList li{
	font-size: 20px;
    color: #bbbbbbee;
    line-height: 30px;
    font-weight: 200;
}

.UpdateEntity {
	width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding: 18px;
    padding-bottom: 0px;
    border-left: 2px solid #ffffff10;
    margin-bottom: 30px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.38) 3.07%, rgba(6, 37, 65, 0.3) 88.06%);
    box-shadow: 0px 0px 50px #000;
}

.UpdateEntityHeader {
	width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;
}

.UpdateEntityImage {
	width: 72px;
    height: 52px;;
    box-shadow: 0px 0px 20px #000;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.UpdateEntityRightSection{
	flex-grow: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.UpdateEntityName{
	font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}